# virtual environment
venv/

# Python cache / compiled files
__pycache__/
*.pyc

# local DB files
*.db
*.sqlite

# local environment variables / secrets
.env

# Why: .idea/ is PyCharm’s project settings folder. It contains machine-specific and user-specific files (paths, caches). You almost never want these in the repo. Adding the line to .gitignore tells Git to ignore that folder going forward.
.idea/